body{
  background-color: antiquewhite;
  
}
h6{
  margin-bottom: 0px;
}
 header{
 background-color: rgb(167, 169, 176);
 padding-left:10px;
 padding-right: 10px;
}

h1 {
  color : rgb(115, 221, 235) ;
  display: flex;
  font-size: 20px;
}

ul{
  display: flex;
}
li{
  list-style: none;
  margin-right: 25px;
  font-size: 20px;
}
a{
  text-decoration:none;
  color: rgb(10, 5, 5);
}
nav a:hover{
  color:rgb(14, 79, 109);
}

p{
  margin-right: 25px;
  font-size: 20px;
}
/* Estilo de iconos*/
ion-icon{
  font-size: 30px;
}
