body{
  background-image:url('../../coder-react-helvio/public/imgs/fondo.png'); 
  background-size:cover;
}
 h2{
    color: rgb(22, 48, 69);
 }

 .header {
  background-color: rgb(22, 48, 69);
  

.header__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1100px;
      margin: 0 auto;
      padding: 20px 0;
      width: 90%;
      height: 70px;   
                           
      .header__logo {
          color: white;
          font-family: "Arial";
          margin: 0 auto;
      }

      .header__navbar {
          background-color: rgb(22, 48, 69);
          display: flex;
          width: 40%;
          justify-content: space-evenly;
          align-items: center;
           
          .header__navlink {
              color: white;
              font-weight: 700;
              text-transform: uppercase;
              cursor: pointer;
              text-decoration: none;
                                       
              &:hover{
                  color:aquamarine;
              }                             
         }
      }
      .widget{
        color:white;
        font-size: 40px;
        opacity:1;
        visibility: visible;      
        transition :all.3s ease-in-out;
      }

      .widget-hidden{
       visibility: hidden;
       opacity:0;
       
      }
  }
}