body{
  background-color: antiquewhite;
  
}
h6{
  margin-bottom: 0px;
}
 header{
 background-color: rgb(167, 169, 176);
 padding-left:10px;
 padding-right: 10px;
}

h1 {
  color : rgb(115, 221, 235) ;
  display: flex;
  font-size: 20px;
}
.brand-menu{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
ul{
  display: flex;
}
li{
  list-style: none;
  margin-right: 25px;
 font-size: 20px;
}
a{
  text-decoration:none;
  color: black;
}
nav a:hover{
  color:white;
}

p{
  margin-right: 25px;
  font-size: 20px;
}
/* Estilo de iconos*/
ion-icon{
  font-size: 30px;
}
